# Other IDE files
*.classpath
*.project
*.settings/
.idea/*
*.iml
.DS_Store

# Checkstyle-IDEA config
!.idea/checkstyle-idea.xml

# Gradle cache folder
.gradle

# Gradle build folder
build

# IntelliJ
out/
.idea
*.iml
# mpeltonen/sbt-idea plugin
.idea_modules/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Build files
.gradle/
/jars/
generated/
out/
build/
target/
*.class
build-logic/.kotlin/
build-logic/bin/
bin/
test-tmp/

# Run directory
/run/
